
{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}

  	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({{ fields.field_image.content }});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>{{ fields.title.content }}</h1>
							{% if fields.field_description.content|render|trim is not empty %}
								<h2>{{ fields.field_description.content }}</h2>
							{% else %}
								<h2>Free Drupal 8 Theme by <a href="https://www.drupaldevelopersstudio.com" target="_blank"> Drupal Developers Studio</a></h2>
							{% endif %}
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>