
	<div class="fh5co-explore fh5co-explore1">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-push-5 animate-box">
					<img class="img-responsive" src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="{{ content.field_image['#items'].alt }}" title="{{ content.field_image['#items'].title }}">
				</div>
				<div class="col-md-4 col-md-pull-8 animate-box">
					<div class="mt">
						<h3>{{ content.field_title.0 }}</h3>
						{{ content.field_body.0 }}
						<ul class="list-nav">
							{{ content.field_feature }}
						</ul>
						{% if content.field_video_link.0|render is not empty %}
							<p><a class="popup-youtube btn btn-primary btn-lg popup-vimeo btn-video"  href="{{ content.field_video_link[0]['#url']|render }}"><i class="icon-play"></i>{{ content.field_video_link[0]['#title'] }}</a></p>
			 			{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="fh5co-explore">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-pull-1 animate-box">
					<img class="img-responsive" src="{{ file_url(content.field_picture['#items'].entity.uri.value) }}" alt="{{ content.field_picture['#items'].alt }}" title="{{ content.field_picture['#items'].title }}">
				</div>
				<div class="col-md-4 animate-box">
					<div class="mt">
						{{ content.field_counter_items2 }}
					</div>
				</div>
			</div>
		</div>
	</div>
