<!-- courses -->
{% if content.field_courses.0|render is not empty %}
	<div id="fh5co-project">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>{{ content.field_title.0 }}</h2>
					{{ content.field_body.0 }}
				</div>
			</div>
		</div>
		<!-- Project list -->
		{{ content.field_courses.0 }}

		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center animate-box">
					{% if content.field_url.0|render is not empty %}
						<p><a class="btn btn-primary btn-lg btn-learn" href="{{ content.field_url[0]['#url']|render }}">{{ content.field_url[0]['#title'] }}</a></p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endif %}
<!-- blog -->
{% if content.field_blog.0|render is not empty %}
	{{ content.field_blog.0 }}
{% endif %}

