<!-- testimonials items-->
<div class="item">
	<div class="testimony-slide active text-center">
		<figure>
			<img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="{{ content.field_image['#items'].alt }}" title="{{ content.field_image['#items'].title }}">
		</figure>
		<span>{{ content.field_title.0 }}, via 
		{% if content.field_url.0|render is not empty %}	
			<a href="{{ content.field_url[0]['#url']|render }}" class="twitter">{{ content.field_url[0]['#title'] }}</a></span>
		{% endif %}	
		<blockquote>
			<p>&ldquo;{{ content.field_body.0|render|striptags }}&rdquo;</p>
		</blockquote>
	</div>
</div>
<!-- testimonials items end-->



