<!-- Contact Info -->
<div id="fh5co-contact">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-push-1 animate-box">
				
				<div class="fh5co-contact-info">
					<h3>{{ content.field_title.0 }}</h3>
					<ul>
						{% if content.field_body.0|render is not empty %}
							<li class="address">{{ content.field_body.0 }}</li>
						{% endif %}	
						{% if content.field_phone_number.0|render is not empty %}
							<li class="phone"><a href="tel:{{ content.field_phone_number.0}}">
							{{ content.field_phone_number.0}}</a></li>
						{% endif %}	
						{% if content.field_email.0|render is not empty %}
							<li class="email"><a href="mailto:{{ content.field_email.0 }}">
							{{ content.field_email.0 }}</a></li>
						{% endif %}
				       	{% if content.field_url.0|render is not empty %}
							<li class="url"><a href="{{ content.field_url[0]['#url']|render }}">
							{{ content.field_url[0]['#title'] }}</a></li>
						{% endif %}

					</ul>
				</div>

			</div>
			<div class="col-md-6 animate-box">
				<h3>{{ content.field_secondary_title.0 }}</h3>
				{{ content.field_contact_form.0 }}
			</div>
		</div>
		
	</div>
</div>
<div id="location-map" class="animate-box" data-animate-effect="fadeIn">
  {{ content.field_map.0 }}
</div> 
 
<!-- Contact Info End-->



