<!-- get started -->
	<div id="fh5co-started" style="background-image:url({{ file_url(content.field_image['#items'].entity.uri.value) }});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>{{ content.field_title.0 }}</h2>
					{{ content.field_body.0 }}
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					{% if content.field_url.0|render is not empty %}
						<p><a href="{{ content.field_url[0]['#url']|render }}" class="btn btn-default btn-lg">{{ content.field_url[0]['#title'] }}</a></p>
					{% endif %}
					
				</div>
			</div>
		</div>
	</div>
<!-- get started end-->



