<!-- Banner -->
	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url({{ file_url(content.field_image['#items'].entity.uri.value) }});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>{{ content.field_title.0 }}</h1>
							<h2>{{ content.field_body.0 }}</h2>
							<p>
								{% if content.field_url.0|render is not empty %}
									<a class="btn btn-primary btn-lg btn-learn" href="{{ content.field_url[0]['#url']|render }}">{{ content.field_url[0]['#title'] }}</a>
								{% endif %}
								{% if content.field_video_link.0|render is not empty %}
									<a class="popup-youtube btn btn-primary btn-lg popup-vimeo btn-video" href="{{ content.field_video_link[0]['#url']|render }}"><i class="icon-play"></i> {{ content.field_video_link[0]['#title'] }}</a>
								{% endif %}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

<!-- banner-end -->
