<!-- Counter items -->
	<div class="col-md-3 text-center animate-box">
		<span class="fh5co-counter js-counter" data-from="0" data-to="{{ content.field_phone_number.0 }}" data-speed="5000" data-refresh-interval="50"></span>
		<span class="fh5co-counter-label">{{ content.field_title.0 }}</span>
	</div>
			
<!-- Counter items End-->
		
