		
	<div id="fh5co-explore" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>{{ content.field_title.0 }}</h2>
					{{ content.field_body.0 }}
				</div>
			</div>
		</div>		
		{{ content.field_counter_items_ref }}
	</div>