<form action="#">
	<div class="row form-group">
		<div class="col-md-6">
			{{ element.elements.first_name }}
		</div>
		<div class="col-md-6">
			{{ element.elements.last_name }}
		</div>
	</div>

	<div class="row form-group">
		<div class="col-md-12">
			{{ element.elements.email }}
		</div>
	</div>

	<div class="row form-group">
		<div class="col-md-12">
			{{ element.elements.subject }}
		</div>
	</div>

	<div class="row form-group">
		<div class="col-md-12">
			{{ element.elements.message }}
		</div>
	</div>
	<div class="form-group">
		{{ element.elements.actions }}
	</div>
</form>		