
  <!-- Tabs -->
  {{ page.tabs }}
  
  <div class="fh5co-loader"></div>
  <div id="page">
  <div id="fh5co-offcanvas"></div>
  <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle fh5co-nav-white"><i></i></a>
  <nav class="fh5co-nav" role="navigation">
  <!-- topbar -->
    <div class="top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-right">
          {% if contact_number|render is not empty %}
            <p class="num">Call: {{ contact_number }}</p>
          {% endif %}  
            <ul class="fh5co-social">
              {% if twitter_url|render is not empty %}
                <li><a href="{{ twitter_url }}"><i class="icon-twitter"></i></a></li>
              {% endif %}
              {% if dribbble_url|render is not empty %}
                <li><a href="{{ dribbble_url }}"><i class="icon-dribbble"></i></a></li>
              {% endif %}
              {% if github_url|render is not empty %}
                <li><a href="{{ github_url }}"><i class="icon-github"></i></a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- topbar end -->

    <!-- main-menu -->
    <div class="top-menu">
      <div class="container">
        <div class="row">
          <div class="col-xs-5">
            {{ page.site_branding}}
          </div>
          <div class="col-xs-7 text-right menu-1">
             {{ page.primary_menu }}
          </div>
        </div>
        
      </div>
    </div>
    <!-- main-menu end -->
  </nav>
  
  <!-- page-content -->
  {{ page.content}}

  <!-- footer -->
  <footer id="fh5co-footer" role="contentinfo">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-4 fh5co-widget">
          <h4>{% if about_us_title|render is not empty %}{{ about_us_title }}{% endif %}</h4>
          <p>{% if about_desc|render is not empty %}{{ about_desc }}{% endif %}</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12 fh5co-widget">
          {{ page.footer_menu }}
        </div>

        <div class="col-md-3 col-sm-4 col-xs-12 fh5co-widget">
          {{ page.latest_blog }}
        </div>

        <div class="col-md-3 col-sm-4 col-xs-12 fh5co-widget">
          <h4>{% if title|render is not empty %}{{ title }}{% endif %}</h4>
          <ul class="fh5co-footer-links contact-us">
            {% if address|render is not empty %}
              <p>{{ address }}</p>
            {% endif %}  
            {% if mail|render is not empty %}
              <li><a href="mailto:{{ mail }}">{{ mail }}</a></li>
            {% endif %}
            {% if contact_number|render is not empty %}
              <li><a href="tel:+01 2345 6789">{{ contact_number }}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>

      <div class="row copyright">
        <div class="col-md-12 text-center">
          <p>
            <small class="block">&copy; 2018 <a href="#">YG Learn</a>. All Rights Reserved.
            </small><small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co </a>Theme By<a href="https://www.drupaldevelopersstudio.com/" target="_blank"> Drupal Developers Studio</a>, A Division of <a href="http://www.youngglobes.com" target="_blank">Young Globes</a></small>
          </p>

          <p>
            <ul class="fh5co-social-icons">
              {% if twitter_url|render is not empty %}
                <li><a href="{{ twitter_url }}"><i class="icon-twitter"></i></a></li>
              {% endif %}
              {% if facebook_url|render is not empty %}
                <li><a href="{{ facebook_url }}"><i class="icon-facebook"></i></a></li>
              {% endif %}
              {% if linkedin_url|render is not empty %}
                <li><a href="{{ linkedin_url }}"><i class="icon-linkedin"></i></a></li>
              {% endif %}
              {% if dribbble_url |render is not empty %}
                <li><a href="{{ dribbble_url }}"><i class="icon-dribbble"></i></a></li>
              {% endif %}
            </ul>
          </p>
        </div>
      </div>

    </div>
  </footer>
  <!-- footer end -->
  </div>

  <!-- goto-top -->
  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
  </div>
  

